= main_informations do
  = attributes_list do |l|
    - l.attribute :created_at
    - l.attribute :operation_name
    - l.attribute :state
    - l.attribute :human_message

= cobbles do |c|
  - c.cobble(:calls) do
    = cobble_list :calls

  - c.cobble(:targets) do
    = cobble_list :targets
